version: v0.1
testId: cert-hub-connect-user-test
displayName: "CertHubConnectUser - Provision and connect only"
description: "Tests certificate-based IoT Hub connections"
testPlan: ../../src/locust_pkg/cert_hub_connect.py
testType: Locust
engineInstances: 1
